# Dynamic Configuration
# https://github.com/realtarget/traefik2-docker-stack/blob/master/gitlab/docker-compose.yml
http:
  routers:
    jenkins:
      rule: Host(`{{ Jenkins.ingress.subdomain }}.{{ Jenkins.ingress.basedomain }}`)
      service: jenkins
      middlewares:
        - toHttps@file
      entryPoints:
        - websecure
      tls:
{% if Traefik.app.ACME_enabled is defined and Traefik.app.ACME_enabled is sameas true %}
        certResolver: {{ Jenkins.ingress.acmeResolver }}
{% else %}
        {}
{% endif %}
      
  services:
    jenkins:
      loadBalancer:
        servers:
          - url: "{{ Jenkins.ingress.backend }}"