[submodule "PackerWorkShop/hv-packer"]
	path = PackerWorkShop/hv-packer
	url = https://github.com/fsdrw08/hv-packer.git
	branch = SoloLab
[submodule "HelmWorkShop/keepalived/kubelived"]
	path = HelmWorkShop/keepalived/kubelived
	url = https://github.com/clastix/kubelived.git
	branch = tags/v0.3.0