global:
  imageRegistry: zot.day0.sololab
traefik:
  containerSecurityContext:
    enabled: true
    seLinuxOptions:
      type: spc_t
  configFiles:
    install:
      providers:
        consulCatalog:
          endpoint:
            address: consul.service.consul:8501
            datacenter: dc1
            scheme: https
            tls:
              ca: /etc/traefik/tls/ca.crt
            # token: # set by terraform get value from vault
          exposedByDefault: false
      serversTransport:
        rootCAs:
          - /etc/traefik/tls/ca.crt
      global:
        checkNewVersion: false
        sendAnonymousUsage: false
      entryPoints:
        traefik:
          address: ":8080"
        web:
          address: ":80"
          forwardedHeaders:
            trustedIPs:
              - "0.0.0.0/0"
          proxyProtocol:
            trustedIPs:
              - 192.168.255.1
              - 192.168.255.2
        webSecure:
          address: ":443"
          forwardedHeaders:
            trustedIPs:
              - "0.0.0.0/0"
          proxyProtocol:
            trustedIPs:
              - 192.168.255.1
              - 192.168.255.2
      certificatesResolvers:
        external:
          acme:
            caServer: https://acme-v02.api.letsencrypt.org/directory
            certificatesDuration: 2160
            email: ""
            storage: /mnt/acmeStorage/external.json
            tlsChallenge: {}
        internal:
          acme:
            caServer: https://vault.day0.sololab/v1/pki_sololab_day2/acme/directory
            certificatesDuration: 2160
            email: ""
            storage: /mnt/acmeStorage/internal.json
            tlsChallenge: {}
      log:
        level: INFO
      metrics:
        prometheus:
          manualRouting: true
      accessLog: {}
    routing:
      # https://traefik.io/blog/traefik-2-tls-101-23b4fbee81f1/
      tlsCerts.yaml:
        tls:
          certificates:
            - certFile: /etc/traefik/tls/day1.crt
              keyFile: /etc/traefik/tls/day1.key
      httpBasicAuth.yaml:
        http:
          middlewares:
            userPass:
              basicAuth:
                users:
                  - admin:$apr1$/F5ai.wT$7nFJWh4F7ZA0qoY.JZ69l1
      serversTransports.yaml:
        http:
          serversTransports:
            sololab-day1:
              serverName: "*.day1.sololab"
              rootcas:
                - "/etc/traefik/tls/ca.crt"
            consul-service:
              serverName: "*.service.consul"
              rootcas:
                - "/etc/traefik/tls/consul-root.crt"

  extraEnvVars:
    - name: TZ
      value: Asia/Shanghai
    # https://github.com/traefik/traefik/blob/v3.6.5/docs/content/https/acme.md#cacertificates
    - name: LEGO_CA_CERTIFICATES
      value: /etc/traefik/tls/ca.crt
    - name: LEGO_CA_SYSTEM_CERT_POOL
      value: "true"
  extraVolumeMounts:
    - name: docker-socket
      mountPath: /var/run/docker.sock
      readOnly: true
    - name: config-routing
      mountPath: /etc/traefik/routing
  extraVolumes:
    - name: docker-socket
      hostPath:
        path: /run/user/1001/podman/podman.sock
        type: Socket
    - name: config-routing
      hostPath:
        path: /var/home/podmgr/traefik-file-provider
persistence:
  enabled: true
  mountPath: /mnt/acmeStorage
