apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: stepca-pvc
spec:
  resources:
    requests:
      storage: 10Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce

---
apiVersion: v1
kind: Pod
metadata:
  name: stepca
  labels:
    name: stepca
spec:
  containers:
    - name: stepca
      # https://hub.docker.com/r/smallstep/step-ca
      image: {{ StepCA.pod.image | default('docker.io/smallstep/step-ca:latest') }}
      resources:
        limits:
          memory: "128Mi"
          cpu: "500m"
      ports:
        - name: stepca
          containerPort: 9000
{% if StepCA.pod.hostIP is defined and StepCA.pod.hostIP|length %}
          hostIP: {{ StepCA.pod.hostIP }}
{% endif %}
      env:
        # the name of your CA—this will be the issuer of your CA certificates
        - name: DOCKER_STEPCA_INIT_NAME
          value: {{ StepCA.app.DOCKER_STEPCA_INIT_NAME }}
        # create an initial ACME provisioner for the CA
        - name: DOCKER_STEPCA_INIT_ACME
          value: {{ StepCA.app.DOCKER_STEPCA_INIT_ACME }}
        # the hostname(s) or IPs that the CA will accept requests on
        - name: DOCKER_STEPCA_INIT_DNS_NAMES
          value: {{ StepCA.app.DOCKER_STEPCA_INIT_DNS_NAMES }}
        # set this to "true" to enable SSH certificate support
        - name: DOCKER_STEPCA_INIT_SSH
          value: {{ StepCA.app.DOCKER_STEPCA_INIT_SSH }}
        # set this to "true" to enable remote provisioner management (remote manage the ca)
        # https://smallstep.com/docs/step-ca/provisioners/#remote-provisioner-management
        - name: DOCKER_STEPCA_INIT_REMOTE_MANAGEMENT
          value: {{ StepCA.app.DOCKER_STEPCA_INIT_REMOTE_MANAGEMENT }}
        # a label for the initial admin (JWK) provisioner. Default: "admin"
        - name: DOCKER_STEPCA_INIT_PROVISIONER_NAME
          value: {{ StepCA.app.DOCKER_STEPCA_INIT_PROVISIONER_NAME }}
        # specify a password for the encrypted CA keys and the default CA provisioner.
        - name: DOCKER_STEPCA_INIT_PASSWORD
          value: {{ StepCA.app.DOCKER_STEPCA_INIT_PASSWORD }}
      volumeMounts:
        - name: stepca
          mountPath: /home/step
  volumes:
    - name: stepca
      persistentVolumeClaim:
        claimName: stepca-pvc
