# https://developer.hashicorp.com/consul/tutorials/production-deploy/deployment-guide#configure-the-consul-process
[Unit]
Description="HashiCorp Consul - A service mesh solution"
Documentation=https://www.consul.io/
After=podman-user-wait-network-online.service

[Service]
TimeoutStartSec=infinity
ExecStartPre=${ExecStartPreConsul}
ExecStart=${bin_path} agent -config=${config_file} -config-dir=${config_dir}
ExecReload=/bin/kill --signal HUP $MAINPID
KillMode=process
KillSignal=SIGTERM
Restart=on-failure
RestartSec=3
LimitNOFILE=65536

[Install]
WantedBy=default.target
