# https://github.com/lyzeo/rivet/blob/64219c2c43ea6fbcecdc885d9259c713edb9ceee/infra/salt/salt/traefik/files/traefik.service#L11
# See https://doc.traefik.io/traefik-enterprise/installing/on-premise/#systemd-linux-only

[Unit]
Description="Traefik Proxy"
Documentation=https://docs.traefik.io
Requires=step-ca.service
After=network-online.target step-ca.service
AssertFileIsExecutable=/usr/bin/traefik

[Service]
User=${user}
Group=${group}

Environment=LEGO_CA_CERTIFICATES=${LEGO_CA_CERTIFICATES}

# https://www.freedesktop.org/software/systemd/man/latest/systemd.service.html#Type=
Type=notify
AmbientCapabilities=CAP_NET_BIND_SERVICE
# https://doc.traefik.io/traefik/getting-started/configuration-overview/#configuration-file
ExecStart=/usr/bin/traefik

PrivateTmp=true
PrivateDevices=false
ProtectHome=true
ProtectSystem=full
PermissionsStartOnly=true
NoNewPrivileges=true
LimitNOFILE=32768
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
