# https://github.com/hashicorp/nomad/blob/v1.10.3/e2e/terraform/provision-infra/provision-nomad/etc/nomad.d/nomad-client.service
[Unit]
Description=Nomad Client Agent
After=podman-user-wait-network-online.service
StartLimitIntervalSec=0
StartLimitBurst=3
Before=umount.target
Conflicts=umount.target

# Nomad and Consul are started very closely together. This helps ensure Consul
# is already running before Nomad starts and avoids having to SIGHUP the Nomad
# clients in order to reload the Consul fingerprints.
# Wants=consul.service
# After=consul.service

[Service]
Environment="NOMAD_ADDR=${NOMAD_ADDR}"
Environment="NOMAD_CACERT=${NOMAD_CACERT}"
Environment="NOMAD_CLIENT_CERT=${NOMAD_CLIENT_CERT}"
Environment="NOMAD_CLIENT_KEY=${NOMAD_CLIENT_KEY}"
Environment="NOMAD_TOKEN=${NOMAD_TOKEN}"

ExecReload=/bin/kill -HUP $MAINPID
ExecStartPre=${ExecStartPreNomad}
ExecStartPre=${ExecStartPreConsul}
ExecStart=sudo ${bin_path} agent -config ${config_file}
ExecStartPost = /bin/bash -c "sleep $(shuf -i 10-20 -n 1) &&  ${bin_path} node eligibility -enable -self"
KillMode=process
KillSignal=SIGINT
LimitNOFILE=65536
LimitNPROC=infinity
TasksMax=infinity
Restart=on-failure
RestartSec=2
OOMScoreAdjust=-999

[Install]
WantedBy=default.target