# Dynamic Configuration
http:
  routers:
    pritunl:
      rule: Host(`{{ Pritunl.ingress.subdomain }}.{{ base_domain_name }}`)
      service: pritunl
      middlewares:
        - toHttps@file
      entryPoints:
        - websecure
      tls:
{% if Traefik.app.ACME_enabled is defined and Traefik.app.ACME_enabled is sameas true %}
        certResolver: acmeResolver
{% else %}
        {}
{% endif %}
  services:
    pritunl:
      loadBalancer:
        servers:
          - url: "http://pritunl/"
