zot:
  image:
    registry: zot.vyos.sololab
    repository: giantswarm/zot
  resourcesPreset: small
  config:
    # https://zotregistry.dev/v2.1.10/admin-guide/admin-configuration/#extensions
    extensions:
      # https://zotregistry.dev/v2.1.10/admin-guide/admin-configuration/#enhanced-searching-and-querying-images
      search:
        enable: true
        cve:
          updateInterval: "168h"
          # https://github.com/project-zot/zot/issues/2298#issuecomment-1978312708
          trivy:
            javadbrepository: "zot.day0.sololab/aquasecurity/trivy-java-db" # ghcr.io/aquasecurity/trivy-java-db
            dbrepository: "zot.day0.sololab/aquasecurity/trivy-db" # ghcr.io/aquasecurity/trivy-db
      # Mgmt is enabled when the Search extension is enabled
      mgmt:
        enable: true
      ui:
        enable: true
      scrub:
        enable: true
        interval: "24h"
      metrics:
        enable: true
        prometheus:
          path: /metrics
    # Network configuration
    # https://zotregistry.dev/v2.1.10/admin-guide/admin-configuration/#network-configuration
    http:
      address: "127.0.0.1"
      port: "5000"
      # When the zot registry is running behind a proxy or load balancer,
      # you must provide an external URL for OpenID/OAuth2 clients to redirect back to zot.
      # This externalUrl attribute is the URL of the registry
      # externalUrl: https://zot.day0.sololab
      realm: zot
      # tls:
      #   cert: "/etc/zot/certs/server.crt"
      #   key: "/etc/zot/certs/server.key"
      #   cacert: "/etc/zot/certs/ca.crt"
      # https://zotregistry.dev/v2.1.10/admin-guide/admin-configuration/#authentication
      auth:
        failDelay: 5
        ## user pass auth
        ## ref: https://zotregistry.dev/v2.1.10/articles/authn-authz/#htpasswd
        ##
        htpasswd:
          path: /etc/zot/secret/htpasswd
        ## ldap auth
        ## https://zotregistry.dev/v2.1.10/articles/authn-authz/#ldap
        ##
        ldap:
          credentialsFile: /etc/zot/secret/ldap-credentials.json
          address: lldap.day0.sololab
          port: 636
          startTLS: true
          baseDN: ou=people,dc=root,dc=sololab
          userAttribute: uid
          userFilter: "(&(objectClass=person)(memberOf=cn=sso_allow,ou=groups,dc=root,dc=sololab))"
          userGroupAttribute: memberOf
          skipVerify: false
          subtreeSearch: true
        ## odic auth
        ## https://zotregistry.dev/v2.1.10/articles/authn-authz/#using-dex
        ##
        # openid:
        #   providers:
        #     oidc:
        #       credentialsFile: /etc/zot/secret/oidc-credentials.json
        #       name: dex
        #       issuer: https://dex.day0.sololab/
        #       keypath:
        #       scopes: ["openid", "profile", "email", "groups"]

      # https://zotregistry.dev/v2.0.4/articles/authn-authz/#example-access-control-configuration
      # https://github.com/project-zot/zot/issues/2149
      accessControl:
        metrics:
          users: ["admin", "metric"]
        repositories:
          "**":
            defaultPolicy: ["read"]
            # https://github.com/project-zot/zot/blob/main/examples/README.md#identity-based-authorization
            anonymousPolicy: ["read"]
        adminPolicy:
          actions: ["read", "create", "update", "delete"]
          ## for user pass
          users: ["admin"]
          ## for ldap
          groups: ["cn=app-zot-admin,ou=groups,dc=root,dc=sololab"]
          ## for oidc
          # groups: ["app-zot-admin"]

    # https://zotregistry.dev/v2.0.4/articles/storage/#configuring-zot-storage
    storage:
      rootDirectory: "/var/lib/registry"
      # https://zotregistry.dev/v2.0.4/articles/storage/#commit
      # make data to be written to disk immediately
      commit: true
      # https://zotregistry.dev/v2.0.4/articles/storage/#garbage-collection
      # Garbage collection (gc) is enabled by default to reclaim this space
      gc: true
    log:
      level: "info"
  secret:
    others:
      contents:
        # htpasswd -bBn <username> <password>
        htpasswd: |
          admin:$2y$05$S94dvsnxtN2tTONk8eTGEuABGfzDAcXXqkWbIg62mHyOe71PWRRGa
          metric:$2y$05$aI.hrUK8PRqDnxG6ptitFO6Orzbn.ZbiVxYNuJPrJyMnVUCZLmrT.
        # https://zotregistry.dev/v2.1.10/articles/authn-authz/#ldap
        ldap-credentials.json:
          bindDN: cn=readonly,ou=people,dc=root,dc=sololab
          bindPassword: readonly

  podLabels:
    traefik.enable: true
    traefik.http.routers.zot-redirect.entrypoints: web
    traefik.http.routers.zot-redirect.rule: Host(`zot.day0.sololab`)
    traefik.http.routers.zot-redirect.middlewares: toHttps@file
    traefik.http.routers.zot-redirect.service: zot

    traefik.http.routers.zot.entrypoints: webSecure
    traefik.http.routers.zot.rule: Host(`zot.day0.sololab`)
    traefik.http.routers.zot.tls: true
    traefik.http.routers.zot.service: zot

    # add a basic auth header middleware to make metric request without authentication from prometheus
    traefik.http.middlewares.metricBasicAuthHeader.headers.customRequestHeaders.Authorization: "Basic bWV0cmljOlBAc3N3MHJk"
    traefik.http.routers.zot-metric.entrypoints: webSecure
    traefik.http.routers.zot-metric.rule: "Host(`zot.day0.sololab`) && Path(`/metrics`)"
    traefik.http.routers.zot-metric.tls: true
    traefik.http.routers.zot-metric.middlewares: metricBasicAuthHeader@docker
    traefik.http.routers.zot-metric.service: zot

    traefik.http.services.zot.loadbalancer.server.port: 5000
    traefik.http.services.zot.loadbalancer.healthCheck.path: /v2/

    # traefik.tcp.routers.zot-web.entrypoints: webSecure
    # traefik.tcp.routers.zot-web.rule: HostSNI(`zot.day0.sololab`)
    # traefik.tcp.routers.zot-web.tls.passthrough: true
    # traefik.tcp.routers.zot-web.service: zot-web
    # traefik.tcp.services.zot-web.loadbalancer.server.port: 5000

  extraEnvVars:
    - name: TZ
      value: Asia/Shanghai
    # https://github.com/project-zot/zot/issues/2298
    # https://github.com/aquasecurity/trivy/issues/4169
    # https://github.com/aquasecurity/trivy/discussions/4194
    - name: SSL_CERT_DIR
      value: /etc/zot/certs
