global:
  imageRegistry: zot.day0.sololab
consul:
  podLabels:
    traefik.enable: true
    traefik.http.routers.consul-redirect.entrypoints: web
    traefik.http.routers.consul-redirect.rule: Host(`consul-client.day0.sololab`)
    traefik.http.routers.consul-redirect.middlewares: toHttps@file
    traefik.http.routers.consul-redirect.service: consul

    traefik.http.routers.consul.entrypoints: webSecure
    traefik.http.routers.consul.rule: Host(`consul-client.day0.sololab`)
    traefik.http.routers.consul.tls: true
    traefik.http.routers.consul.service: consul

    traefik.http.services.consul.loadBalancer.serversTransport: consul@file
    traefik.http.services.consul.loadbalancer.server.scheme: https
    traefik.http.services.consul.loadbalancer.server.port: 8501

    # tcp route, deprecated
    # traefik.tcp.routers.consul-web.entrypoints: webSecure
    # traefik.tcp.routers.consul-web.rule: HostSNI(`consul-client.day0.sololab`)
    # traefik.tcp.routers.consul-web.tls.passthrough: true
    # traefik.tcp.routers.consul-web.service: consul-web
    # traefik.tcp.services.consul-web.loadbalancer.server.port: 8501

  configFiles:
    main:
      auto_encrypt:
        tls: true
      bind_addr: '{{ GetInterfaceIP "eth0" }}'
      bootstrap_expect: null
      client_addr: "0.0.0.0"
      ports:
        https: 8501
      retry_join:
        - consul.day1.sololab
      server: false
      tls:
        defaults:
          ca_file: /consul/secret/certs/ca.crt
          verify_incoming: false
          verify_outgoing: true
          verify_server_hostname: true
        internal_rpc:
          verify_incoming: true
          verify_server_hostname: true
  ## @param consul.args Override default container args (useful when using custom images)
  ## ref: https://blog.christophersmart.com/2021/01/31/podman-volumes-and-selinux/
  ##
  args:
    - agent
    - -config-dir=/consul/services
    - -config-dir=/consul/secret/others

  extraEnvVars:
    - name: CONSUL_DISABLE_PERM_MGMT
      value: "ture"
    - name: TZ
      value: Asia/Shanghai
  ## @param consul.extraVolumeMounts Optionally specify extra list of additional volumeMounts for the consul container(s)
  ## ref: https://blog.christophersmart.com/2021/01/31/podman-volumes-and-selinux/
  ##
  extraVolumeMounts:
    - name: services
      mountPath: "/consul/services:Z"
  ## @param consul.extraVolumes Optionally specify extra list of additional volumes for the consul pod(s)
  ##
  extraVolumes:
    - name: services
      hostPath:
        path: /var/home/podmgr/consul-services
        type: Directory
