# Dynamic Configuration
http:
  routers:
    dashboard:
      rule: Host(`{{ Traefik.ingress.dashboard_subdomain }}.{{ Traefik.ingress.dashboard_basedomain }}`) && (PathPrefix(`/api`) || PathPrefix(`/dashboard`))
      service: api@internal
      # https://www.teanote.pub/archives/247
      # https://doc.traefik.io/traefik/routing/routers/#tls
      # will terminate the TLS request
      entryPoints:
        - web
        - websecure
      middlewares:
        - toHttps@file
        - userpass
      tls:
{% if Traefik.app.ACME_enabled is defined and Traefik.app.ACME_enabled is sameas true %}
        certResolver: {{ Traefik.ingress.dashboard_acmeResolver }}
{% else %}
        {}
{% endif %}
  middlewares:
    userpass:
      basicAuth:
        users:
          - {{ Traefik.ingress.dashboard_basicAuth }}
