apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: gitlab_config
spec:
  resources:
    requests:
      storage: 10Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: gitlab_logs
spec:
  resources:
    requests:
      storage: 10Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: gitlab_data
spec:
  resources:
    requests:
      storage: 150Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
---
apiVersion: v1
kind: Pod
metadata:
  name: gitlab
  labels:
    name: gitlab
spec:
  containers:
    - name: gitlab
      # dont use gitlab-ce:16.1.x
      # https://gitlab.com/gitlab-org/omnibus-gitlab/-/issues/7823
      image: {{ GitLab.pod.image }}
      resources:
        requests:
          memory: "2560Mi"
          cpu: "1500m"
        limits:
          memory: "3072Mi"
          cpu: "2000m"
      # ports:
      #   - name: http
      #     containerPort: 80
      #     hostPort: 80
      #   - name: https
      #     containerPort: 443
      #     hostPort: 443
      #   - name: ssh
      #     containerPort: 22
      #     hostPort: 2222
      env:
        - name: GITLAB_OMNIBUS_CONFIG
          value: |
            external_url '{{ GitLab.app.external_url }}'
            nginx['listen_https'] = false
            nginx['listen_port'] = 80
            gitlab_rails['gitlab_shell_ssh_port'] = 22
      livenessProbe:
        initialDelaySeconds: 180
        periodSeconds: 60
        httpGet:
          path: /
          port: 80
      volumeMounts:
        - name: config
          mountPath: /etc/gitlab
        - name: logs
          mountPath: /var/log/gitlab
        - name: data
          mountPath: /var/opt/gitlab
        - name: dshm
          mountPath: /dev/shm
  volumes:
    - name: config
      persistentVolumeClaim:
        claimName: gitlab_config
    - name: logs
      persistentVolumeClaim:
        claimName: gitlab_logs
    - name: data
      persistentVolumeClaim:
        claimName: gitlab_data
    - name: dshm
      emptyDir:
        medium: Memory
        sizeLimit: 256Mi
  restartPolicy: Never
