# Dynamic Configuration
# https://github.com/realtarget/traefik2-docker-stack/blob/master/gitlab/docker-compose.yml
http:
  routers:
    dashboard:
      rule: Host(`{{ GitLab_subdomain }}.{{ base_domain_name }}`)
      service: gitea
      # https://doc.traefik.io/traefik/providers/overview/#provider-namespace
      # https://github.com/realtarget/traefik2-docker-stack/blob/master/gitlab/docker-compose.yml#L35
      middlewares:
        - toHttps@file
      entryPoints:
        - websecure
      {% if Traefik_ACME_enabled is defined and Traefik_ACME_enabled is sameas true %}
      tls:
        certResolver: acmeResolver
      {% endif %}
      
  services:
    gitea:
      loadBalancer:
        servers:
          - url: "http://gitea:3000/"
