# Dynamic Configuration
# https://github.com/realtarget/traefik2-docker-stack/blob/master/gitlab/docker-compose.yml
http:
  routers:
    gitlab:
      rule: Host(`{{ GitLab.ingress.subdomain }}.{{ GitLab.ingress.basedomain }}`)
      service: gitlab
      middlewares:
        - toHttps@file
      entryPoints:
        - websecure
      tls:
{% if Traefik.app.ACME_enabled is defined and Traefik.app.ACME_enabled is sameas true %}
        certResolver: acmeResolver
{% else %}
        {}
{% endif %}
      
  services:
    gitlab:
      loadBalancer:
        servers:
          - url: "{{ GitLab.ingress.backend }}"
