global:
  imageRegistry: zot.day0.sololab
prometheus:
  resourcesPreset: "small"
  configFiles:
    prometheus:
      global:
        scrape_interval: 60s
      scrape_configs:
        # - job_name: multi_target
        #   scrape_interval: 300s
        #   scrape_timeout: 5s
        #   metrics_path: /probe
        #   tls_config:
        #     ca_file: /etc/prometheus/secrets/certs/ca.crt
        #   consul_sd_configs:
        #     - server: consul.service.consul:8501
        #       datacenter: dc1
        #       scheme: https
        #       tls_config:
        #         ca_file: /etc/prometheus/secrets/certs/ca.crt
        #       # https://inuits.eu/blog/prometheus-consul-vault-228/
        #       authorization:
        #         credentials_file: /etc/prometheus/secrets/others/consul-token
        #   relabel_configs:
        #     - source_labels: ["__meta_consul_tags"]
        #       regex: .*multi-targe-exporter.*
        #       action: keep
        #     - source_labels:
        #         - __meta_consul_service_metadata_prometheus_multi_target_exporter_scheme
        #       target_label: __scheme__
        #     - source_labels:
        #         - __meta_consul_service_metadata_prometheus_multi_target_exporter_address
        #       target_label: __address__
        #     - source_labels:
        #         - __meta_consul_service_metadata_prometheus_multi_target_exporter_metrics_path
        #       target_label: __metrics_path__
        #     - action: labelmap
        #       regex: __meta_consul_service_metadata_prometheus_multi_target_exporter_param_(.+)
        #       replacement: __param_$1

        # the blackbox exporter implements the multi-target exporter pattern, this config tell prometheus to:
        # 1. get target data from consul service definition's metadata, only keep the data which the service has `address` metadata
        # 2. assemble the metadata to an url, pass the url info to the `instance` label
        # 3. config blackbox exporter url by internal label __scheme__ and __address__
        # finally, prometheus will send http request to: `scheme`://`address`/`probe?module=http_2xx&target=${instance}`
        # ref: https://prometheus.io/docs/guides/multi-target-exporter/#querying-multi-target-exporters-with-prometheus:~:text=To%20fix%20this%2C%20we%20will%20use%20relabeling.
        - job_name: blackbox_exporter
          scrape_interval: 600s
          scrape_timeout: 5s
          tls_config:
            ca_file: /etc/prometheus/secrets/certs/ca.crt
          metrics_path: /probe
          params:
            module: [http_2xx]
          consul_sd_configs:
            - server: consul.service.consul:8501
              datacenter: dc1
              scheme: https
              tls_config:
                ca_file: /etc/prometheus/secrets/certs/ca.crt
              # https://inuits.eu/blog/prometheus-consul-vault-228/
              authorization:
                credentials_file: /etc/prometheus/secrets/others/consul-token
          # https://github.com/unixhot/opsany-paas/blob/ea905341cd02a8562883a8a0dc05f2db812b94aa/install/conf/prometheus/prometheus.yml#L92C7-L97C31
          relabel_configs:
            - source_labels: ["__meta_consul_tags"]
              regex: .*,metrics-exposing-blackbox,.*
              action: keep
            # https://prometheus.io/docs/prometheus/latest/configuration/configuration/#consul_sd_config
            # https://github.com/spirkaa/infra/blob/fa0fcce1e2e764d911f58c621cb81c9065e1ad41/cluster/observability/kube-prometheus-stack/kps/values.yaml#L163
            - source_labels:
                - __meta_consul_service_metadata_scheme
                - __meta_consul_service_metadata_address
                - __meta_consul_service_port
                - __meta_consul_service_metadata_health_check_path
              regex: (.+);(.+);0;(.*)
              replacement: ${1}://${2}/${4}
              target_label: __param_target
            - source_labels:
                - __meta_consul_service_metadata_scheme
                - __meta_consul_service_metadata_address
                - __meta_consul_service_port
                - __meta_consul_service_metadata_health_check_path
              regex: (.+);(.+);(.+);(.*)
              replacement: ${1}://${2}:${3}/${4}
              target_label: __param_target
            - source_labels: [__param_target]
              target_label: instance
            # blackbox exporter config
            - target_label: __scheme__
              replacement: https
            - target_label: __address__
              replacement: prometheus-blackbox-exporter.day1.sololab
        - job_name: postgres_exporter
          scrape_interval: 300s
          scrape_timeout: 10s
          tls_config:
            insecure_skip_verify: true
          metrics_path: /probe
          params:
            auth_module: [postgres_exporter]
          consul_sd_configs:
            - server: consul.service.consul:8501
              datacenter: dc1
              scheme: https
              tls_config:
                ca_file: /etc/prometheus/secrets/certs/ca.crt
              authorization:
                credentials_file: /etc/prometheus/secrets/others/consul-token
          relabel_configs:
            - source_labels: ["__meta_consul_tags"]
              regex: .*,postgres-exporter,.*
              action: keep
            - source_labels:
                - __meta_consul_service_metadata_address
                - __meta_consul_service_metadata_port
                - __meta_consul_service_metadata_dbName
              regex: (.+);(.+);(.+)
              replacement: ${1}:${2}/${3}
              target_label: __param_target
            - source_labels: [__param_target]
              target_label: instance
            - action: labelmap
              regex: __meta_consul_service_metadata_param_(.+)
              replacement: __param_$1
            # postgres exporter config
            - target_label: __scheme__
              replacement: https
            - target_label: __address__
              replacement: prometheus-postgres-exporter.service.consul

        # below config tell prometheus to:
        # 1. get target data from consul service definition's metadata, only keep the data which the service has `exporter` tag
        # 2. assemble the service's metadata to an url, format:
        # `scheme`://`address`:`port`/`metrics_path`?`metrics_path_param_<key>=metrics_path_param_<value>`
        # finally, prometheus send request to the url above
        # ref: https://training.promlabs.com/training/relabeling/introduction-to-relabeling/hidden-labels-and-metadata/
        - job_name: general_exporter_consul_sd
          scrape_interval: 30s
          scrape_timeout: 10s
          tls_config:
            insecure_skip_verify: true
          consul_sd_configs:
            - server: consul.service.consul:8501
              datacenter: dc1
              scheme: https
              tls_config:
                ca_file: /etc/prometheus/secrets/certs/ca.crt
              authorization:
                credentials_file: /etc/prometheus/secrets/others/consul-token
          relabel_configs:
            - source_labels: ["__meta_consul_tags"]
              regex: .*,metrics-exposing-general,.*
              action: keep
            - source_labels: ["__meta_consul_service_metadata_scheme"]
              target_label: __scheme__
            - source_labels:
                - __meta_consul_service_metadata_address
                - __meta_consul_service_port
              regex: (.+);0
              replacement: ${1}
              target_label: __address__
            - source_labels:
                - __meta_consul_service_metadata_address
                - __meta_consul_service_port
              regex: (.+);([1-9][0-9]*)
              replacement: ${1}:${2}
              target_label: __address__
            - source_labels: ["__meta_consul_service_metadata_metrics_path"]
              target_label: __metrics_path__
            # https://prometheus.io/docs/prometheus/latest/configuration/configuration/#relabel_config
            - action: labelmap
              regex: __meta_consul_service_metadata_metrics_path_param_(.+)
              replacement: __param_$1

        # job name have to match with grafana vault dashboard's query name
        - job_name: vault
          scrape_interval: 3600s
          scrape_timeout: 10s
          tls_config:
            ca_file: /etc/prometheus/secrets/certs/ca.crt
          authorization:
            credentials_file: /etc/prometheus/secrets/others/vault-token
          consul_sd_configs:
            - server: consul.service.consul:8501
              datacenter: dc1
              scheme: https
              tls_config:
                ca_file: /etc/prometheus/secrets/certs/ca.crt
              authorization:
                credentials_file: /etc/prometheus/secrets/others/consul-token
          relabel_configs:
            - source_labels: ["__meta_consul_tags"]
              regex: .*metrics-exposing-vault.*
              action: keep
            - source_labels: ["__meta_consul_service_metadata_scheme"]
              target_label: __scheme__
            - source_labels:
                - __meta_consul_service_metadata_address
                - __meta_consul_service_port
              regex: (.+);0
              replacement: ${1}
              target_label: __address__
            - source_labels:
                - __meta_consul_service_metadata_address
                - __meta_consul_service_port
              regex: (.+);([1-9][0-9]*)
              replacement: ${1}:${2}
              target_label: __address__
            - source_labels: ["__meta_consul_service_metadata_metrics_path"]
              target_label: __metrics_path__
            - action: labelmap
              regex: __meta_consul_service_metadata_metrics_path_param_(.+)
              replacement: __param_$1
        - job_name: consul_exporter
          tls_config:
            ca_file: /etc/prometheus/secrets/certs/ca.crt
          http_headers:
            X-Consul-Token:
              files:
                - /etc/prometheus/secrets/others/consul-token
          consul_sd_configs:
            - server: consul.service.consul:8501
              datacenter: dc1
              scheme: https
              tls_config:
                ca_file: /etc/prometheus/secrets/certs/ca.crt
              authorization:
                credentials_file: /etc/prometheus/secrets/others/consul-token
          relabel_configs:
            - source_labels: ["__meta_consul_tags"]
              regex: .*metrics-exposing-consul.*
              action: keep
            - source_labels: ["__meta_consul_service_metadata_scheme"]
              target_label: __scheme__
            - source_labels:
                - __meta_consul_service_metadata_address
                - __meta_consul_service_port
              regex: (.+);0
              replacement: ${1}
              target_label: __address__
            - source_labels:
                - __meta_consul_service_metadata_address
                - __meta_consul_service_port
              regex: (.+);([1-9][0-9]*)
              replacement: ${1}:${2}
              target_label: __address__
            - source_labels: ["__meta_consul_service_metadata_metrics_path"]
              target_label: __metrics_path__
            - action: labelmap
              regex: __meta_consul_service_metadata_metrics_path_param_(.+)
              replacement: __param_$1
  # https://prometheus.io/docs/prometheus/3.4/command-line/prometheus/
  flags:
    web:
      listen-address: 127.0.0.1:9090
      enable-remote-write-receiver: true

  podLabels:
    traefik.enable: true
    traefik.http.routers.prometheus-redirect.entrypoints: web
    traefik.http.routers.prometheus-redirect.rule: Host(`prometheus.day1.sololab`)
    traefik.http.routers.prometheus-redirect.middlewares: toHttps@file
    traefik.http.routers.prometheus-redirect.service: prometheus

    traefik.http.routers.prometheus.entryPoints: webSecure
    traefik.http.routers.prometheus.rule: Host(`prometheus.day1.sololab`)
    traefik.http.routers.prometheus.tls: true
    traefik.http.routers.prometheus.service: prometheus

    traefik.http.services.prometheus.loadbalancer.server.port: 9090

  extraEnvVars:
    - name: TZ
      value: Asia/Shanghai
