service {
  id = "dev-traefik"
  name = "dev-traefik"
  port = 443

  checks = [
    {
      id = "dev-traefik-tcp-check-443"
      name = "dev-traefik-tcp-check-443"
      tcp = "localhost:443"
      interval = "120s"
      timeout = "2s"
    }
  ]
}