[Unit]
Description="Traefik Proxy"
Documentation=https://docs.traefik.io
After=http.socket https.socket
Requires=http.socket https.socket

[Service]
Sockets=http.socket https.socket

[Container]
# Pod=immich.pod
ContainerName=traefik

Image=zot.day0.sololab/library/traefik:v3.3

SecurityLabelType=spc_t

Environment=TZ=Asia/Shanghai
Environment=LEGO_CA_CERTIFICATES=/etc/traefik/tls/ca.crt
Environment=LEGO_CA_SYSTEM_CERT_POOL=true

# API Configuration
Environment=TRAEFIK_API_DASHBOARD=true

# Certificates Resolvers - External
Environment=TRAEFIK_CERTIFICATESRESOLVERS_EXTERNAL_ACME_CASERVER=https://acme-v02.api.letsencrypt.org/directory
Environment=TRAEFIK_CERTIFICATESRESOLVERS_EXTERNAL_ACME_CERTIFICATESDURATION=2160
Environment=TRAEFIK_CERTIFICATESRESOLVERS_EXTERNAL_ACME_STORAGE=/mnt/acmeStorage/external.json
Environment=TRAEFIK_CERTIFICATESRESOLVERS_EXTERNAL_ACME_TLSCHALLENGE=true

# Certificates Resolvers - Internal
Environment=TRAEFIK_CERTIFICATESRESOLVERS_INTERNAL_ACME_CASERVER=https://vault.day1.sololab:8200/v1/pki/day1/acme/directory
Environment=TRAEFIK_CERTIFICATESRESOLVERS_INTERNAL_ACME_CERTIFICATESDURATION=2160
Environment=TRAEFIK_CERTIFICATESRESOLVERS_INTERNAL_ACME_STORAGE=/mnt/acmeStorage/internal.json
Environment=TRAEFIK_CERTIFICATESRESOLVERS_INTERNAL_ACME_TLSCHALLENGE=true

# EntryPoints - Traefik
Environment=TRAEFIK_ENTRYPOINTS_traefik_ADDRESS=:8080

# EntryPoints - Web
Environment=TRAEFIK_ENTRYPOINTS_web_ADDRESS=:80
Environment=TRAEFIK_ENTRYPOINTS_web_FORWARDEDHEADERS_TRUSTEDIPS=0.0.0.0/0

# EntryPoints - WebSecure
Environment=TRAEFIK_ENTRYPOINTS_webSecure_ADDRESS=:443
Environment=TRAEFIK_ENTRYPOINTS_webSecure_FORWARDEDHEADERS_TRUSTEDIPS=0.0.0.0/0

# ExposedByDefault
Environment=TRAEFIK_EXPOSEDBYDEFAULT=false

# Global Configuration
Environment=TRAEFIK_GLOBAL_CHECKNEWVERSION=false
Environment=TRAEFIK_GLOBAL_SENDANONYMOUSUSAGE=false

# Log Configuration
Environment=TRAEFIK_LOG_LEVEL=DEBUG

# Ping Configuration
Environment=TRAEFIK_PING=true

# Providers - ConsulCatalog
Environment=TRAEFIK_PROVIDERS_CONSULCATALOG_ENDPOINT_ADDRESS=consul.day1.sololab:8501
Environment=TRAEFIK_PROVIDERS_CONSULCATALOG_ENDPOINT_DATACENTER=dc1
Environment=TRAEFIK_PROVIDERS_CONSULCATALOG_ENDPOINT_SCHEME=https
Environment=TRAEFIK_PROVIDERS_CONSULCATALOG_ENDPOINT_TLS_CA=/etc/traefik/tls/ca.crt

# Providers - Docker
Environment=TRAEFIK_PROVIDERS_DOCKER_ENDPOINT=unix:///var/run/docker.sock
Environment=TRAEFIK_PROVIDERS_DOCKER_EXPOSEDBYDEFAULT=false
Environment=TRAEFIK_PROVIDERS_DOCKER_USEBINDPORTIP=false

# Providers - File
Environment=TRAEFIK_PROVIDERS_FILE_DIRECTORY=/etc/traefik/dynamic
Environment=TRAEFIK_PROVIDERS_FILE_WATCH=true

# ServersTransport
Environment=TRAEFIK_SERVERSTRANSPORT_INSECURESKIPVERIFY=false
Environment=TRAEFIK_SERVERSTRANSPORT_ROOTCAS=/etc/traefik/tls/ca.crt

Secret=source=traefik-sec-tls,target=/etc/traefik/tls

Volume=%t/podman/podman.sock:/var/run/docker.sock
Volume=traefik-pvc:/mnt/acmeStorage

Label="traefik.enable=true"
Label="traefik.http.middlewares.userPass.basicauth.users=admin:$apr1$/F5ai.wT$7nFJWh4F7ZA0qoY.JZ69l1"
Label="traefik.http.routers.dashboard-redirect.entrypoints=web"
Label="traefik.http.middlewares.toHttps.redirectscheme.scheme=https"
Label="traefik.http.middlewares.toHttps.redirectscheme.permanent=true"
# Label="traefik.http.routers.dashboard-redirect.middlewares=toHttps@docker"
# Label="traefik.http.routers.dashboard-redirect.rule=Host(`traefik.day1.sololab`) && (PathPrefix(`/api`)|| PathPrefix(`/dashboard`))"
# Label="traefik.http.routers.dashboard.entryPoints=webSecure"
# Label="traefik.http.routers.dashboard.middlewares=userPass"
# Label="traefik.http.routers.dashboard.rule=Host(`traefik.day1.sololab`) && (PathPrefix(`/api`)|| PathPrefix(`/dashboard`))"
# Label="traefik.http.routers.dashboard.service=api@internal"
# Label="traefik.http.routers.dashboard.tls=true"

HealthCmd=["traefik", "healthcheck"]
HealthStartPeriod=3m
HealthInterval=10s
HealthTimeout=30s
HealthRetries=10
Notify=healthy

PodmanArgs=${PodmanArgs}
Network=podman-default-kube-network
[Install]
WantedBy=default.target