# https://github.com/eriksjolund/podman-traefik-socket-activation/blob/main/examples/example1/https.socket
[Socket]
# https://github.com/traefik/traefik/blob/v3.3.4/docs/content/routing/entrypoints.md#systemd-socket-activation
ListenStream=0.0.0.0:80
# FileDescriptorName must match with the traefik entrypoint name
FileDescriptorName=web
Service=${name}.service

[Install]
WantedBy=sockets.target